*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: #fff;
}

body .container {
  margin: 0 auto;
  max-width: 70rem;
}

body header {
  background-color: #f6f8fa;
  -webkit-box-shadow: 2px 0 3px 3px #e6e2e2;
          box-shadow: 2px 0 3px 3px #e6e2e2;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

body .header .logo {
  color: #1069da;
}

body .header .nav_bar .btn_nav {
  color: #696468;
  font-size: 1rem;
  margin-right: 0.8rem;
  border: 1px solid grey;
  padding: 0.5rem 1.2rem;
  border-radius: 7px;
}

body .header .nav_bar .user {
  margin-right: 1rem;
}

body .title {
  text-align: center;
  color: #696468;
  font-size: 3rem;
}

body .hero_sec {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid #e7e5e5;
}

body .footer small {
  color: grey;
}

body .form {
  max-width: 25rem;
  margin: 3rem auto;
  background-color: #fff8c5;
  border: 1px solid #e6e3e3;
  padding: 2rem;
  text-align: center;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 3px 0 #e9e6e6;
          box-shadow: 2px 2px 3px 0 #e9e6e6;
}

body .form .input_handle {
  width: 100%;
  display: block;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  border-radius: 7px;
  border: 1px solid grey;
  color: #5f5a5a;
}

body .form .select {
  font-size: 1rem;
}

body .form h2 {
  text-align: center;
  color: #4ec2fb;
  padding-bottom: 2rem;
}

body .form input[type='radio'] {
  margin-top: 0.5rem;
}

body .form .btn {
  margin-top: 1rem;
}

body .form .radio_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .form .radio_btn input {
  margin: 1rem 0.5rem;
}

body .client_sec {
  padding: 5rem 0;
}

body .client_sec p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

body .client_sec p span {
  color: #4ec2fb;
}

body .client_sec h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 4rem;
  color: #696468;
}

body .button_sec {
  text-align: center;
  padding-bottom: 4rem;
}

body .button_sec .btn {
  margin-right: 0.5rem;
}

body .user_sec {
  text-align: center;
  padding: 4rem 0 0 0;
}

body .user_sec p {
  font-size: 1.4rem;
}

body .user_sec span {
  color: #4ec2fb;
}

body .podcast {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}

body .podcast h2 {
  text-align: center;
  font-weight: 200;
  padding-bottom: 1.5rem;
}

body .podcast span {
  color: #4ec2fb;
}

body .podcast .btn_div {
  text-align: center;
  margin-bottom: 2rem;
}

body .podcast .btn_div .btn {
  margin-right: 1rem;
}

body .podcast_content {
  margin: 0 auto;
  max-width: 50rem;
}

body .podcast_content article {
  background-color: #f6f8fa;
  margin-bottom: 1rem;
  padding: 0.7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 2px 0 #f1efef;
          box-shadow: 2px 2px 2px 0 #f1efef;
  border-radius: 6px;
}

body .podcast_content article img {
  width: 15rem;
  height: 10rem;
  border-radius: 7px;
}

body .podcast_content article h4 {
  color: #72746f;
  font-size: 1.4rem;
  font-weight: 200;
}

body .podcast .verify {
  position: absolute;
  top: 0.9rem;
  right: -1.8rem;
  background-color: #4ec2fb;
  padding: 0.5rem 1.4rem;
  border-radius: 7px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

body .podcast .verify h4 {
  color: #fff;
  font-size: 1rem;
}

body .podcast .verify span {
  color: #fff;
}

body .podcast_user {
  text-align: center;
  padding: 3rem 0;
}

body .podcast_user span {
  color: #4ec2fb;
}

body .podcast_user h1 {
  font-weight: 200;
  font-size: 2rem;
}

body .podcast_user h2 {
  font-weight: 400;
  font-size: 2rem;
  padding: 2rem 0;
}

body .podcast_card {
  text-align: center;
  background-color: #fff8c5;
  -webkit-box-shadow: 2px 2px 2px 0 #f1efef;
          box-shadow: 2px 2px 2px 0 #f1efef;
  border-radius: 6px;
  padding: 1.5rem 0;
  max-width: 35rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

body .podcast_card img {
  height: 20rem;
  width: 30rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

body .podcast_card h4 {
  padding: 0.3rem 0;
  font-size: 1.3rem;
  font-weight: 200;
}

body .podcast_card span {
  color: #4ec2fb;
}

body .podcast_card .btn {
  padding: 0.5rem 1.2rem;
  margin-left: 0.5rem;
}

body .podcast_card .btn_div {
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1.2rem;
  border-radius: 7px;
  display: inline-block;
  border: none;
  outline: none;
}

.btn_nav {
  border: 1px solid #a7a4a4;
}

.btn_nav:hover {
  background-color: #f7f1f1;
}

.btn_primary {
  background-color: #4ec2fb;
  padding: 0.7rem 1.2rem;
  color: #fff;
  font-size: 1rem;
  border: none;
}

.btn_primary:hover {
  background-color: #43b8f3;
}

.btn_sub {
  border: 1px solid #8a8686;
}

.btn_sub:hover {
  background-color: #f7f1f1;
}

.btn_edit {
  border: 1px solid #4ec2fb;
  color: #4ec2fb;
}

.btn_edit:hover {
  background-color: #4ec2fb;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #fff;
}

.btn_delete {
  border: 1px solid red;
  color: red;
}

.btn_delete:hover {
  background-color: red;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */
