<%- include('partials/header') -%>
    <h1 class="page-title">Welcome, <%= user.fullName %></h1>
    <div class="btns">
      <a href="/articles" class="btn">View Articles</a>
      <a href="/articles/my-articles" class="btn">View My Articles</a> 
      <a href="/articles/new" class="btn">Create an Article</a>
    </div>
  </body>
</html>