<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./include/header'); -%>
    <section>
      <div class="container hero_sec">
        <div>
          <h1 class="title">Welcome to The PodCast App</h1>
        </div>
        <div>
          <!-- <img src="/images/online.png" alt="" /> -->
        </div>
      </div>
    </section>
    <%- include('./include/footer'); -%>
  </body>
</html>
