<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./include/header'); -%>
    <div class="container">
      <section class="form">
        <h2>Login</h2>
        <% if(error){ %>
        <p class="text_error"><%= error %></p>
        <% } %>
        <form action="/users/login" method="POST">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="input_handle"
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="input_handle"
          />
          <div class="center">
            <button type="submit" class="btn btn_sub">Login</button>
          </div>
        </form>
      </section>
    </div>
    <%- include('./include/footer'); -%>
  </body>
</html>